a {text-decoration: none; cursor: pointer}
div {text-align: center}
#data {font-family:monospace;font-size:18px;color: #ccc;font-weight:bold}
.ace {background-color: #00008B; color: #FFDE03; text-transform: uppercase}
.good {background-color: #666699; color: #FFFF99; text-transform: uppercase}
.ok {background-color: grey; color: white; text-transform: uppercase}
.oops {background-color: silver; color: white; text-transform: uppercase}
#feedback {text-transform: uppercase;font-family:monospace;font-size: 18px;padding: 0 3px}
.show {background-color: red; color: white}
.hide {background-color: white; color: white}


*{
            margin:0;
            padding:0;
      }
      #wrap{
            width:100%;
            height:100%;
            overflow:hidden;
      }
      .image{
            width:100%;
            height:100%;
            overflow:hidden;
            border:0px solid #727272;
            position:absolute;
            background:#fff;
      }
  #logo {
    height: 15%;
  }
      #gif{
            width:100%;
            height:85%;
            position:relative;
            border:0ps solid #000;
      }
  #socialModalbox {
    width:40%;
            height:100%;
            position:absolute;
            background-color: rgba(0,0,0,0.7);
    z-index: 9999;
    margin-left: 30%;
  }
  #close {
            height:15%;
  }
  #reddit {
    width:80%;
            height:80%;
            position:relative;
    margin-left: 10%;
    margin-right: 10%;
  }
  

#coin, #gitHint{
      cursor: pointer;
      position: fixed;
      z-index: 30;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-position: top left;
      background-repeat: no-repeat;
      background-image: url('euro.gif');
}

#coin:hover{
      background-image: url('euro10.gif');
      height: 95px;
      width: 95px;
}


#ccard, #git{
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      width: 33%;
      height: 100%;
      z-index: 10;
      cursor: pointer;
            background-size: 100% 100%;
}

#coin.x, #gitHint.x{
      opacity: 0;
}

#git{
      left: initial;
      right: 0;
}

      #gitHint{
            left: initial;
            right: 0;
            background-image: url('gifHint.png');
      }
      
      #gitHint:hover{
            background-image: url('gitHover.png');
            height: 90px;
            width: 90px;
      }

      #coin:hover{
            background-image: url('euro10.gif');
            height: 95px;
            width: 95px;
      }

.playG{
      display: none
}

#logo{
      cursor: pointer;
}

html, body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            text-align: center;
            width: 100%;
            height: 100%;
      }

#gif{
      width: 100%;
      height: 80%;
}